<!DOCTYPE html>
<html lang="uk">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Pixel Pirates</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'navbar.html' %}
    <header>
        <img src="/static/images/logo.png" alt="Pixel Pirates Logo" class="header-logo">
        <p>Розробка Telegram-ботів, скриптів та інше. Під будь які ваші потреби.</p>
    </header>
    <section>
        <a href="/order"><button>Замовити послугу</button></a>
    </section>
</body>
</html>
